page {
  background-color: white;
  padding         : 14px;
  box-sizing      : border-box;
  color           : #333;
}

.wrapper {
  padding: 20px;
  .btn-box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
}

